parameters:
    level: 9
    paths:
        - classes
        - index.php
    excludePaths:
        - tests

    ignoreErrors:
        #- '#Undefined variable: \$this#'
        - '#Instanceof between \*NEVER\* and Kirby\\Cms\\File will always evaluate to false.#'
        #- '#Instanceof between \*NEVER\* and Kirby\\Cms\\Page will always evaluate to false.#'
        - '#Instanceof between \*NEVER\* and Kirby\\Cms\\User will always evaluate to false.#'
        #- '#Cannot call method findOne\(\) on mixed.#'
        - '#Cannot call method findOneAndUpdate\(\) on mixed.#'
        - '#Cannot call method deleteMany\(\) on mixed.#'
        - '#Cannot call method findOne\(\) on mixed.#'
        - '#Cannot call method createIndex\(\) on mixed.#'
        - "#Cannot access offset 'modelType' on mixed.#"
        #- "#Cannot access offset 'id' on mixed.#"
        -
            identifier: missingType.iterableValue
